.git
**/.git
.venv/
**/.venv/
build/
**/build/
client/
third_party/msensor/client/
viewer/
test/
**/test/
node_modules/
**/node_modules/
__pycache__/
**/__pycache__/
.cache/
**/.cache/
*.pbscan
*.ply
/*.log
