[submodule "third_party/moptim"]
	path = third_party/moptim
	url = https://github.com/Marcus-Forte/moptim.git
[submodule "third_party/msensor"]
	path = third_party/msensor
	url = https://github.com/Marcus-Forte/msensor.git
[submodule "third_party/robin-map"]
	path = third_party/robin-map
	url = https://github.com/Tessil/robin-map.git